@page
@model ErrorModel
@{
    ViewData["Title"] = "Feil";
}

<h1 class="text-danger">Feil.</h1>
<h2 class="text-danger">Det oppstod en feil under behandlingen av forespørselen din.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Forespørsels-ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Utviklingsmodus</h3>
<p>
    Å bytte til <strong>Development</strong>-miljøet viser detaljert informasjon om feilen som oppstod.
</p>
<p>
    <strong>Development-miljøet bør ikke være aktivert for applikasjoner i produksjon.</strong>
    Det kan føre til at sensitiv informasjon fra unntak vises til sluttbrukere.
    For lokal feilsøking kan du aktivere <strong>Development</strong>-miljøet ved å sette miljøvariabelen <strong>ASPNETCORE_ENVIRONMENT</strong> til <strong>Development</strong>
    og starte appen på nytt.
</p>
