@page
@model JetlagBot.App.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logg ut";
}
<h1>Logg ut</h1>
<form method="post">
    <button type="submit" class="btn btn-primary">Logg ut</button>
</form>
